/* ================ The Timeline ================ */

@import "variables";

.timeline {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 2em auto;
  padding: 2em 0;
  list-style-type: none;
  
  @media (max-width: 960px) {
    width: 100%;
    padding: 1em;
    margin: 1em auto;
  }
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 3px;
  height: 100%;
  margin-left: -1.5px;
  background: linear-gradient(to bottom, 
    rgba($primary-color, 0) 0%, 
    rgba($primary-color, 0.3) 10%, 
    rgba($primary-color, 0.6) 50%, 
    rgba($primary-color, 0.3) 90%, 
    rgba($primary-color, 0) 100%);
  z-index: 1;
  
  @media (max-width: 960px) {
    left: 20px;
    margin-left: 0;
  }
}
.timeline li {
  padding: 1.5em 0;
  position: relative;
  
  @media (max-width: 960px) {
    padding: 1em 0;
  }
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: calc(50% - 30px);
  float: left;
  text-align: right;
  padding-right: 2em;
  
  @media (max-width: 960px) {
    width: calc(100% - 50px);
    float: none;
    text-align: left;
    padding-left: 3em;
    padding-right: 0;
  }
}

.direction-r {
  position: relative;
  width: calc(50% - 30px);
  float: right;
  padding-left: 2em;
  
  @media (max-width: 960px) {
    width: calc(100% - 50px);
    float: none;
    padding-left: 3em;
  }
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5em;
}

.flag {
  position: relative;
  display: inline-block;
  background: $body-color;
  padding: 0.75em 1.25em;
  border-radius: 8px;
  font-weight: 600;
  font-size: $type-size-5;
  color: $text-color;
  text-align: left;
  border: 2px solid $border-color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
    border-color: $primary-color;
  }
}

.direction-l .flag {
  text-align: right;
  
  @media (max-width: 960px) {
    text-align: left;
  }
}
.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -38px;
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: $body-color;
  border-radius: 50%;
  border: 3px solid $primary-color;
  box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
  z-index: 10;
  transition: all 0.3s ease;
  
  @media (max-width: 960px) {
    left: -38px;
    right: auto;
  }
}

.direction-r .flag:before {
  left: -38px;
  right: auto;
  
  @media (max-width: 960px) {
    left: -38px;
  }
}

.timeline li:hover .flag:before {
  transform: scale(1.2);
  box-shadow: 0 0 0 4px rgba($primary-color, 0.2);
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -10px;
  border: solid transparent;
  border-left-color: $body-color;
  border-width: 10px;
  pointer-events: none;
  
  @media (max-width: 960px) {
    right: 100%;
    left: auto;
    border-right-color: $body-color;
    border-left-color: transparent;
  }
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -10px;
  border: solid transparent;
  border-right-color: $body-color;
  border-width: 10px;
  pointer-events: none;
}
.time-wrapper {
  display: block;
  margin-top: 0.5em;
  line-height: 1.4;
}

.time {
  display: inline-block;
  padding: 0.4em 0.8em;
  background: linear-gradient(135deg, rgba($primary-color, 0.1) 0%, rgba($primary-color, 0.05) 100%);
  color: $primary-color;
  border-radius: 4px;
  font-size: $type-size-6;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.direction-l .time-wrapper {
  text-align: right;
  
  @media (max-width: 960px) {
    text-align: left;
  }
}

.direction-r .time-wrapper {
  text-align: left;
}

.desc {
  margin: 0.75em 0 0 0;
  font-size: $type-size-6;
  line-height: 1.6;
  color: $text-color;
  font-style: normal;
}

.direction-l .desc {
  text-align: right;
  
  @media (max-width: 960px) {
    text-align: left;
  }
}

.direction-r .desc {
  text-align: left;
}

