---
---

@import "jekyll-theme-minimal";

/* ================ Page Width Adjustments ================ */

.wrapper {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  float: left;
  width: 300px;
  margin-right: 40px;
  padding-right: 40px;
}

section {
  float: left;
  width: calc(100% - 340px);
  max-width: calc(100% - 340px);
}

@media (max-width: 768px) {
  header {
    float: none;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 2em;
  }
  
  section {
    float: none;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1240px) {
  .wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 0 10px;
  }
}

/* ================ Author Info ================ */

.author-info {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #e5e5e5;
}

.author-info p {
  margin: 0.5em 0;
}

.author-info small {
  display: block;
  margin: 0.3em 0;
}

.author-links {
  margin-top: 0.5em;
}

.author-links span {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.3em;
}

.author-info a {
  color: #267CB9;
  text-decoration: none;
}

.author-info a:hover {
  text-decoration: underline;
}

.img-circle {	
  opacity: 0.7;
  -moz-border-radius: 50%;	
  -webkit-border-radius: 50%;	
  border-radius: 50%;
  -moz-opacity:0.7;
  -webkit-opacity:0.8;
} 
.img-circle:hover {	
  cursor: pointer;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
}

.img-rectangle {	
  opacity: 0.7;
  -moz-opacity:0.7;
  -webkit-opacity:0.8;
} 
.img-rectangle:hover {	
  cursor: pointer;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

@media (max-width: 960px) {
  .timeline {
    width: 100%;
    padding: 1em;
  }
  
  .timeline:before {
    left: 20px;
    margin-left: 0;
  }
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.direction-l {
  position: relative;
  width: calc(50% - 30px);
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: calc(50% - 30px);
  float: right;
}

@media (max-width: 960px) {
  .direction-l,
  .direction-r {
    width: 100%;
    float: none;
  }
  
  .direction-l {
    text-align: left;
  }
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}
.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}
.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #267CB9;
  z-index: 10;
}
.direction-r .flag:before {
  left: -40px;
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}
.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: #267CB9;
  vertical-align: middle;
}
.direction-l .time-wrapper {
  float: left;
}
.direction-r .time-wrapper {
  float: right;
}
.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}
.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}
.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline ================ */

